<div id="header">
	<%= image_tag("logo_black.png", id: "logo") %>
</div>
<div id="navbar">
	<ul>
		<li>Articles</li>
		<li>Tunes</li>
		<li>Events</li>
		<li>Artists</li>
	</ul>
</div>
<div id="main">
	<h2>Media Content:</h2>
	<table>
		<thead>
			<tr>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>	<% @articles.each do |article| %>
				<tr>
					<td><%= link_to 'Show', article %></td>
					<td><%= link_to 'Edit', edit_article_path(article) %></td>
					<td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr> <% end %>
		</tbody>
	</table>
	<br>
</div>
<div id="events">
	<h3>Upcoming Events:</h3>
	<ul>
		<li>Super Rad Event</li>
			<ul>
				<li class="tinylist">Location: U Street Music Hall</li>
				<li class="tinylist">Date: March 25, 1991</li>
			</ul>
		<li>OTHER Super Rad Event</li>
			<ul>
				<li class="tinylist">Location: Flash</li>
				<li class="tinylist">Date: Sept 12, 2017</li>
			</ul>
		<li>Crazy Wicked-Rad Event</li>
	</ul>
</div>

<%= link_to 'New Article', new_article_path %>